/* .delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
  } */

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .check-button {
    position: absolute;
    margin-left: 2;
    top: 100px;
    right: 10px;
  }

  .edit-button {
    position: absolute;
    margin-left: 2;
    top: 55px;
    right: 10px;
  }

  /* Archivo de estilos personalizado */
  .swal2-confirm-custom-button {
    background-color: #28a745 !important; /* Cambia el color de fondo del botón de confirmación */
    color: #fff !important; /* Cambia el color del texto del botón de confirmación */
    border-color: #28a745 !important; /* Cambia el color del borde del botón de confirmación */
}

/* Diseño del modal */
.diseño-dialogo {
  max-width: 90%; /* Opcional: Establece un máximo ancho para el modal */
  max-height: 90%; /* Opcional: Establece un máximo largo para el modal */
}



  
  app-footer {
    position: relative;
    width: 100%;
    background-color: #f8f9fa; /* Color de fondo */
    padding: 10px 0; /* Ajustar el espacio interno si es necesario */
    text-align: center; /* Centrar el contenido */
    margin-top: 20px; /* Espacio superior para separar del contenido */
}

